body {
    background-image: url("/background/image")
}

h1 {
    color: red;
    text-align:  center;
}

.container {
    background-color: rgba(250,250,210,.6);
    margin: 25px;
    padding: 10px;
    border-radius: 7px;
    text-align:  center;
}
